{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Група: "{{ chat_group.name }}"</h1>
    <input type="hidden" value="{{ chat_group.pk }}" id="chatGroupPk">
    {% if request.user.is_authenticated %}
        <form action="" id = "messageForm">
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% else %}
        <h2>Авторизуйтесь, щоб писати повідомлення</h2>
    {% endif %}
    <div id="messages"></div>
    <script src="{% static 'chat_app/chat.js' %}"></script>
{% endblock %}